@import url("../styles/normalize.css");
@import url('https://fonts.googleapis.com/css?family=Raleway:700,800|Ubuntu:400,700');
:root {
    --primaryColor: #206355;
    --secondaryColor: #1b9078;
    --sectionHeading: #444;
    --textColorBlack: #333;
    --textColorWhite: #fff;
    font-size: 62.5%;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--textColorBlack);
    font-size: 1.6rem;
}

/* 
   Navigation styling
*/

.navBar__btnMenu {
    background: var(--primaryColor);
    color: rgba(255, 255, 255, 0.8);
    border: 0;
    padding: 1rem 1.2rem;
    font-weight: bold;
    position: fixed;
    right: 1rem;
    top: 1rem;
    border-radius: 2px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.navBar__btnMenu:hover {
    opacity: 0.9;
}

.navBar__hamburger,
.navBar__closeIcon {
    width: 1.6rem;
}

.navBar__hamburger {
    margin-left: 1.6rem;
}

.navBar__menu {
    height: 100%;
    position: fixed;
    z-index: 5;
    top: 0;
    right: 0;
    background: #111;
    opacity: 0.9;
    overflow-x: hidden;
    padding: 0;
    padding-top: 6.4rem;
    margin: 0;
    transition: width 0.4s;
    width: 0;
    list-style-type: none;
}

.isActive {
    width: 20rem;
}

.navBar__link {
    padding: 1.6rem 0;
    padding-left: 3.2rem;
    text-decoration: none;
    font-size: 1.8rem;
    color: rgba(45, 166, 142, 1);
    display: block;
    transition: 0.3s;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
}

.navBar__link:hover {
    color: var(--textColorWhite);
}

.navBar__btnClose {
    position: absolute;
    top: 1rem;
    right: 1.6rem;
    padding: 0;
    margin: 0;
    background: none;
    border: 0;
    padding: 1.3rem;
    cursor: pointer;
}

.navBar__closeIcon {
    color: var(--secondaryColor);
    font-size: 2.2rem;
}

.navBar__btnClose:hover .navBar__closeIcon {
    opacity: 0.8;
}

/* 
    Header section
*/

.profile {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding-top: 4rem;
    margin-bottom: 4rem;
}

.profile__image {
    width: 20rem;
    border-radius: 50%;
    border: 3px solid var(--textColorWhite);
    box-sizing: content-box;
    margin-bottom: 1.6rem;
}

.profile__name {
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 800;
    margin: 0;
    color: var(--textColorWhite);
}

.profile hr {
    margin: 2rem auto;
    width: 8%;
    border: 1px solid var(--textColorWhite);
}

.profile__profession {
    color: var(--textColorWhite);
    text-transform: uppercase;
    font-weight: 700;
}

.socialMedia a {
    text-decoration: none;
}

.socialMedia__icon {
    color: #9e989e;
    font-size: 2.8rem;
    margin-right: 1.6rem;
}

.socialMedia__icon:hover {
    color: var(--textColorWhite);
}

.profile__link {
    display: inline-block;
    margin-top: 2.4rem;
    padding: 1.6rem 2.2rem;
    font-weight: 700;
    background-color: var(--primaryColor);
    color: var(--textColorWhite);
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color .3s;
}

.profile__link:hover {
    opacity: 0.7;
}

/* 
    Website content About section
*/

.content {
    background-color: rgba(230, 230, 230, 0.88);
    padding: 3rem;
    margin: 0 auto;
    max-width: 90rem;
}

.content hr {
    width: 8%;
    border: 1px solid var(--secondaryColor);
}

.content__heading {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--sectionHeading);
}

.content__para {
    font-size: 1.8rem;
    color: var(--textColorBlack);
    line-height: 1.8;
    letter-spacing: 1px;
    text-align: justify;
}

.textCenter {
    text-align: center;
}

.content__link {
    color: var(--secondaryColor);
    text-decoration: none;
}

.content__link:hover {
    text-decoration: underline;
}

.paddingTop {
    padding-top: 3rem;
}

/* 
    Skills section
*/

.flexParent {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 5rem;
}

.flexParent__skill {
    flex-basis: 10rem;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 3rem;
}

.logo {
    width: 10rem;
}

/* 
    Contact form
*/

.contactForm {
    max-width: 60rem;
    width: 100%;
    margin: 0 auto;
    margin-top: 3rem;
    text-align: center;
}

.inputFields {
    max-width: 60rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contactForm__input {
    padding: 1rem;
    margin-bottom: 1rem;
    background: #c4c4c4;
    border: 2px solid transparent;
    outline: 0;
    transition: all .3s ease-in-out;
}

.contactForm__input:focus {
    border: 2px solid var(--secondaryColor);
}

.textBox {
    max-width: 60rem;
    width: 100%;
}

.contactForm__submit {
    background: var(--secondaryColor);
    color: #f3f3f3;
    border: 0;
    padding: 1rem 1.6rem;
    text-transform: uppercase;
    cursor: pointer;
}

.contactForm__submit:hover {
    opacity: 0.8;
}

.successBox {
    opacity: 0;
    text-align: center;
    transition: opacity 0.3s;
}

.successMsg {
    background: var(--secondaryColor);
    color: #f3f3f3;
    display: inline-block;
    border-radius: 2px;
    text-transform: uppercase;
    padding: 1rem 1.6rem;
}

/* 
    footer
*/

.footer {
    text-align: center;
    padding: 4rem 0;
}

.copyright {
    color: #9e989e;
    font-size: 1.4rem;
}

/* 
    media queries for responsive design
*/

@media screen and (min-width:360px) {

    .flexParent__skill {
        flex-basis: 13rem;
    }
}

@media screen and (min-width: 768px) {

    .navBar__btnMenu {
        right: 2rem;
        top: 2rem;
    }
    .profile {
        padding-top: 3.5rem;
    }
    .profile__name {
        font-size: 6rem;
    }
    .profile hr {
        border-width: 2px;
    }
    .content {
        padding: 3rem 10rem;
    }
    .flexParent__skill {
        flex-basis: 140px;
        margin-bottom: 5rem;
    }
    .inputFields {
        flex-direction: row;
        justify-content: space-between;
    }
    .input {
        flex-basis: 49.3%;
    }
}

@media screen and (min-width: 800px) {
    body {
        background: url("../images/background-images/image-background.jpg") no-repeat center center fixed;
        background-size: cover;
    }
    .profile {
        min-height: 87vh;
    }
    .aboutMe {
        height: 100vh;
    }
    .flexParent__skill {
        flex-basis: 14.1rem;
    }
    .logo {
        width: 12rem;
    }
}